.searchbycid-search-form {
	max-width: 45%;
	padding: 10px 25px
}

#searchbycid-results {
	display: block;
	background-color: transparent;
	padding:10px 25px 25px;
	transition: background-color 0.5s ease-in;
	box-sizing: border-box;
	height: 1px;
}

#searchbycid-results .searchbyid-notification-title {
	font-size: 120%;
	font-weight: bold;
	margin: 0 0 10px
}

.cell {
	display:inline-block;
	margin: 0 0 1rem 0;
	padding: 0 10px 0 0;
	width:90%;
	vertical-align: top;
	word-break: break-word;
	box-sizing: border-box
}
@media only screen and (min-width: 1024px) {
	.cell {
		margin: 0;
		width: 10%;
	}
}

.cell .searchbyid-column-title {
	font-size: 0.9em;
	opacity: 0.6;
	display: block;
	text-transform: uppercase;
	padding: 0 0 5px
}